.content {
    display:  flex;
}
.profile {
  position: inherit;
  margin-top: 75px;
  margin-left: 30px;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(12, 14, 39);
}
p {
  color: rgb(12, 14, 39);
  font-size: 20px;
  font-family: 'Roboto', serif;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-family: 'Roboto', serif;
  font-size: 35px;
  padding-left: 50px;
  padding-top: 60px;
}
.skill-header {
  margin-left: 90px;
}

.header-hr {
  border-width: 3px;
  border-color: rgb(12, 14, 39);
  margin-left: 50px;
  margin-right: 50px;
}

.skills {
  margin-bottom: 100px;
}


span {
  font-weight: bold;
  font-family: 'Roboto', serif;
}

@media only screen and (max-width: 1000px) {

  .content {
      display:inline;
      justify-content: center;
  }

  .profile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
      width: 400px;
      border-radius: 100%;
  }
  .skill-header {
    margin-left: 0;
  }
}

