.image {
    margin-top: 85px;
    width: 500px;
    height: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(12, 14, 39);
}

.info {
    display: flex;
    grid-template-columns: auto auto;
    padding: 60px 50px 100px 100px;
}

.content {
    display: inline;
    margin-top: 0px;
}
h1 {
    font-family: 'Roboto', serif;
}
h3 {
    padding-left: 50px;
    font-family: 'Roboto', serif;
    font-style: italic;
}

p {
    font-family: 'Roboto', serif; 
}

hr {
    border-width: 3px;
    border-color: rgb(12, 14, 39);
    margin-left: 50px;
    width: 80%;

}

a {
    font-family: 'Roboto', serif;
    text-decoration: none;
    padding-left: 205px;
    font-size: 15px;
    display: block;
    justify-content: center;

  }

  @media only screen and (max-width: 1000px) {

    .info {
        display:inline;
        justify-content: center;
        padding-top: 75px;
    }
    .image {
        margin: auto;
        margin-top: 75px;
        display: flex;
    }
  }